body {
    background-color: rgb(187, 224, 235);

}

body {
    font-size: 16px;
}
 @media screen and(min-width: 768px) {
    body {
        font-size: 18px;
    }
    
 }
 @media screen and(min-width: 1024px) {
    body {
        font-size: 20px;
    }
 }

 .hero {
    position: relative;
    
   
}
    
 
 .hero .BeachVacationPic {
    
    width: 65%;
    background-position: center;
   
}
 .hero h1 {
    position: absolute;
    top: 30%;
    left: 68%;
    color: black;
    font-size: 28px;
   text-align: center;
  
 }
.hero p {
    position: absolute;
    top: 45%;
    left: 67%;
    color: black;
   
    font-size: 16px;
    
    
    
}


.Box form {
   
    width: 100%;
    height: 45%;
    border: 20px solid rgb(62, 182, 230);
    background-color:blue;
    padding: 0;
    margin: 0;
   
  
}

.Drink {
   margin: auto;
    width: 325px;
    height: 300px;
   
   
    
}

.Gamble {
    margin: auto;
    width: 325px;
    height: 300px;
    
    
  
    
}

.Party {
    margin: auto;
    width: 325px;
    height: 300px;
    
   
    
}

.Eat {
   margin: auto;
    width: 325px;
    height: 300px;
   
    
}

 p {
    text-align: center;
    font-weight: bold;
}


h2,h3, header {
    text-align: center;
    border: 20px solid rgb(62, 182, 230);
    background-color:blue;
    
}



h3 {
    word-spacing: 200px;
    padding: 0%;
    margin-top: 0%;
}